<!-- Navigation -->
<div class="bkgimage">
    </br>
    </br>
    </br>
    <div class="box"> 
        <h1> Contato </h1>
        <p> Existem várias maneiras de falar com a gente, são elas: </p>
        <h4><i class="fa fa-phone" aria-hidden="true"></i>(61)9 9999 - 9999</h4>
        <h4><i class="fa fa-phone" aria-hidden="true"></i>(61)8 8888 - 888</h4>

        <div class ="social-icons"> 

            <a href="https://www.facebook.com/Chefnery-1071346359597779/?fref=ts" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="https://google.com" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="https://google.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://google.com" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>          
        </div>    
    </div>
</div>