<!-- Header Carousel -->
<%= render "shared/carousel" %>

<!-- Page Content -->
<div class="container">
    <!-- Marketing Icons Section -->

    <!-- Panel Content -->
    <%= render "shared/panels" %>
    <!-- /.row -->

    <!-- Features Section -->
    <hr>

    <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/Chefnery-1071346359597779/?fref=ts"><i class="fa fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>