.bkgimage-login{	
	background-image:url(https://images.unsplash.com/photo-1461174106495-31e4ca6ed98a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=6f93ddbb0327f5802c430af9ee8e9925);
	background-size: cover;
	background-position: center center;
	background-color: rgba(0, 0, 0, 0.6);
	position: relative;
	width: 100%;
	height: 100%;
	bottom:0;
	color: white;
	z-index: -5; 
	top: 0;
	font-size:18px;
	padding:0px; 	
	position: absolute;

}

.box-login{

	width: 400px;
	height: 400px;
	background: rgba(0, 0, 0, 0.7);
	padding: 40px;
	color: white;
	margin-top: 140px;
	margin: 0 auto;

}

.text-color{
	color: black;
}

.social-icons-login{
	font-size: 40px;
}

.social-icons-login a{
	color: white;
}

.social-color-login{
	color: black;
}